<!DOCTYPE html>
<html>
<head>
  <title>CoRVance</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<p>
  <% if curr_user %>
      Hi <%= curr_user.username %>.
      <%= link_to "Sign Out", signed_out_path %>
  <% else %>
      <%= link_to "Register Now", new_user_path %> or
      <%= link_to "Sign In", sign_in_path %>
      <%= link_to "How it works", how_it_works_path %>
  <% end %>
</p>

<%= yield %>

</body>
</html>
